* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(253, 253, 253);
  }
  
  code {
	  font-family: 'Roboto';
	  
  }
  
  p, h2 {
	  font-weight: 500;
	  color: rgb(44, 44, 44);
  }


.flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1068px;
	height: 100vh;

	overflow: hidden;

	margin: 0 auto;
	padding: 15px;
}

.flexbox .boardwrapper {
	display:  flex;
	flex-direction: column;

	width: 100%;
	max-width: 240px;

	background-color: rgb(253, 253, 253);
	padding: 15px;
}

.flexbox .board {
	display:  flex;
	flex-direction: column;

	width: 100%;
	max-width: 240px;

	background-color: #E8E8E8;
	padding: 7px;
	min-height: 600px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flexbox .board .card {
	padding:  15px 25px;
	background-color:  #F3F3F3;
	cursor: pointer;
	margin-bottom: 15px;
	min-height: 100px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.144), 0 10px 10px rgba(0, 0, 0, 0.144);
}

.boardheader {
	background-color: #E8E8E8;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.144), 0 10px 12px rgba(0, 0, 0, 0.144);
	padding: 15px 15px;
	margin-bottom: 10px;
}

.boardheader__body {
	display: flex;
	justify-content: space-between;
}

.MuiSvgIcon-root {
	cursor: pointer;
}

button {
	background-color: rgb(206, 206, 206);
	color: rgb(44, 44, 44);
	padding: 5px;
	cursor: pointer;
	outline: none;
	font-weight: 600;
}
.titlebody {
	display: flex;
    align-items: center;
}
.circle {
	width: 15px;
    height: 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
	border-radius: 50px;
	margin-right: 5px;
}
 